/*                  Navbar                   */
.barra-navegacion{
    border-bottom: 1px solid black;
}

nav{
    background-image: url(/img/Logo/Logo-nombreAcortado.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.navbar-collapse{
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    color: #d7b03e;
}

/*                  Carrousel                 */
.carousel-padre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.carousel{
    max-width: 800px;
}

.carousel-item{
    height: 500px;
}


/*                  ViewPort                 */

@media screen and (max-width: 991px) {
    .navbar-collapse img{
        display: none;
    }
}

@media screen and (max-width: 480px){
    nav{
        background-image: none;
    }
}