:root {
  --burger: #d7b03e;
  --color: rgba(114, 114, 114, 0.3);
  --success-color: #2ecc71;
  --error-color: #e74c3c;
  --primary: #F4BD50;
  --background: #191919;
  --navbar-height: 48px;
}
/****************************************************************************************************************
                                          Clases pagina detalle
****************************************************************************************************************/
.seccion-textos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .seccion-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contenedor-imagen{
    width: 40%;
  }
  .contenedor-imagen img{
    width: 100%;
  }
  
  .contenedor-textos{
    color: white;
    text-align: center;
  }
  
  .contenedor-textos h2{
    
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    font-weight: 500;
  
    background: linear-gradient(
        to bottom,
        #b5ca3f, #7ba700
      );
      background-clip: text;
      color: transparent;
  }
  
  .contenedor-textos p{
    font-family: "ADLaM Display", system-ui;
    font-weight: 700;
    font-size: x-large;
  
    background: linear-gradient(
        to bottom right,
        #b6bf84, #ffffff
      );
      background-clip: text;
      color: transparent;
  }