/****************************************************************************************************************
                                          Principales
****************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
:root {
    --burger: #d7b03e;
    --color: rgba(114, 114, 114, 0.3);
    --success-color: #2ecc71;
    --error-color: #e74c3c;
    --primary: #F4BD50;
    --background: #191919;
    --navbar-height: 48px;
}

body {
    height: 100%;
    background-color: #191a1a;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 55px 55px;

}

/****************************************************************************************************************
                                          Ir arriba
****************************************************************************************************************/
.ir-arriba {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: var(--burger);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.ir-arriba svg {
    fill: #007bff;
    /* Cambia el color de relleno del SVG */
}

/****************************************************************************************************************
                                            Navbar
****************************************************************************************************************/
.nav-link{
  color:var(--burger)
}

.navbar-brand img{
  width: 30px;
}
/****************************************************************************************************************
                                          Footer
****************************************************************************************************************/
.sec-footer {
    left: 0;
    bottom: 12px;
    width: 100%;
    background: #172940;
    padding-top: 60px;
  }

footer {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0 30px;
  }
  
  @media (width < 620px) {
    footer {
      flex-direction: column;
    }
  
    footer.bottom {
      gap: 16px;
      flex-direction: column-reverse;
    }
  }
  
  footer > img {
    margin-top: 10px;
  }
  
  @media (width >= 620px) {
    footer {
      margin: 0 auto;
      max-width: 600px;
      padding: 0;
    }
  }
  
  footer {
    color: #a2b5cd;
  }
  
  footer.top {
    border-bottom: 2px solid #3a4f6a;
    padding-bottom: 20px;

    display: flex;
    justify-content:space-around;
    align-items: center;
  }
  footer.top img{
    width: 200px;
    filter: drop-shadow(0 0 7px #d7b03e);
  }
  
footer.bottom {
    padding: 20px 0;
    justify-content: space-between;
}

div.links{
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .links > div {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  footer h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #f7f7f7;
  }
  
  .legal {
    font-size: 12px;
  }
  
  .legal > a {
    margin: 0 4px;
  }
  
  .legal > span {
    margin-right: 10px;
  }
  
  footer.bottom .links {
    display: flex;
    gap: 18px;
  }
  
  footer.bottom .links > a {
    font-size: 24px;
  }
  
  @media (width < 420px) {
    footer {
      text-align: center;
      align-items: center;
    }
  
    footer.top .links {
      grid-template-columns: 1fr;
    }
  
    footer.bottom {
      align-items: center;
    }
  
    .legal > span {
      display: block;
      margin-right: 0;
      margin-bottom: 2px;
    }
}