<!DOCTYPE html>
<html lang="es">

<head>
	<!--            Metadatos                -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Tomás Gabriel Vecchi">
	<meta property="og:title" content="SpeedyBite Burgers Menu">
	<meta property="og:description" content="Menu de SpeedyBite Burgers">
	<meta property="og:image"
		content="https://media.discordapp.net/attachments/951204261025427496/1212129702026940466/Logo_hamburgesa_en_circulo.png?ex=65f0b6c1&is=65de41c1&hm=ab278996ccb18ec7501b4da9bdfb71153074f1e35a2b0d7f8f62b78d48f81f32&=&format=webp&quality=lossless&width=375&height=375">
	<meta name="keywords" content="Fastfood, comida rapida, SpeedyBite Burgers">

	<!--            Titulo                -->
	<title>SpeedyBite Burgers</title>

	<!--            Boostrap                -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<!--            CSS                -->
	<link rel="stylesheet" href="/src/styles.css">

	<!--            Icono                -->
	<link rel="shortcut icon" href="/src/img/icons/Logo hamburgesa.ico" type="image/x-icon">

	<!--            Footer                -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!--            Google fonts                -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Anta&family=Oswald:wght@200..700&display=swap"
		rel="stylesheet">
</head>

<body>

	

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script src="/src/js/script.js"></script>
</body>

</html>