<!DOCTYPE html>
<html lang="es">
    
    <body>
        <div class="contenedor-formulario">
            <div class="form-container animate__animated animate__fadeInUp">
                <form id="form" class="form-section">
                    <h2>CREATE ACCOUNT</h2>
                    <div class="form-input">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" placeholder="Enter Username"/>
                    </div>
                    <div class="form-input">
                        <label for="email">Email</label>
                        <input type="text" id="email" placeholder="Enter Email" />                        
                    </div>
                    <div class="form-input">
                        <label for="password">Password</label>
                        <input type="password" id="password" placeholder="Enter Password" />
                    </div>
                    <div class="form-input">
                        <label for="password2">Confirm Password</label>
                        <input type="password" id="password2" placeholder="Enter Password again" />
                    </div>
                    <div class="form-submit">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>