/*                  Principales                   */
:root {
    --primary: #DD946F;
    --secondary: #261E5A;
    --burger: #d7b03e;
}

body {
    width: 100%;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
    background-color: #191a1a;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 55px 55px;

}

/*                  Ir arriba                   */
.ir-arriba {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: var(--burger);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.ir-arriba svg {
    fill: #007bff;
    /* Cambia el color de relleno del SVG */
}

/*                  Navbar                   */
.inicio {
    display: none;
}

.barra-navegacion {
    border-bottom: 1px solid black;
}

.navbar-collapse {
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: var(--burger);
}

/*                  Carrousel                 */
.carousel-padre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    height: 100%;
}

/*                  Carteles                    */
.cartel {
    display: flex;
    text-align: center;
    text-decoration: underline black;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to right,
    #dcd9d1, #ffbe00);

    border-radius: 5px;
}

.girado {
    animation-name: cartel-anim;
    animation-duration: 3s;
    animation-delay: 1s;
}

.cartel img {
    border: 1px transparent solid;
    width: 100px;
}


/*                  ViewPort                 */

@media screen and (max-width: 991px) {
    .inicio {
        display: block;
    }

    .logo-compania {
        display: none;
    }

    nav {
        background-image: url(/img/Logo/Logo-nombreAcortado.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 45%;
    }
}

@media screen and (max-width: 480px) {
    nav {
        background-position: top right;
        background-size: 80%;
    }
}

/*                  Tarjetas                 */
.card {
    text-align: center;
    font-size: 1.6rem;
    color: white;
    font-weight: 500;

    border: 3px outset orange;
}

.imagen-tarjeta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-tarjeta img {
    width: 45%;
    filter: drop-shadow(0 0 10px#d7b03e);
}

.agrandado {

    background: linear-gradient(to bottom,
        #a5a5a5, rgb(197 202 86)
    );
    animation-name: agrandar;
    animation-duration: 1s;
}

.agrandado h3 {
    animation: 3s anim-cards;
    color: white;
}

.achicado {
    animation-name: achicar;
    animation-duration: 1s;

    transform: scale(0.1);
}


/*               Animaciones                    */
@keyframes agrandar {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }
}

@keyframes achicar {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(0.1);
    }
}


@keyframes anim-cards {
    from {
        transform: translate(-70px);
    }



    to {
        transform: translate(0);
    }
}

@keyframes cartel-anim {
    0% {
        transform: translate(0);
    }

    33%{
        transform: translate(-25px);
    }

    66%{
        transform: translate(25px);
    }

    100% {
        transform: rotate(0);
    }
}

/*               Footer                    */
.sec-footer {
    left: 0;
    bottom: 12px;
    width: 100%;
    background: #172940;
    padding-top: 60px;
  }

footer {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0 30px;
  }
  
  @media (width < 620px) {
    footer {
      flex-direction: column;
    }
  
    footer.bottom {
      gap: 16px;
      flex-direction: column-reverse;
    }
  }
  
  footer > img {
    margin-top: 10px;
  }
  
  @media (width >= 620px) {
    footer {
      margin: 0 auto;
      max-width: 600px;
      padding: 0;
    }
  }
  
  footer {
    color: #a2b5cd;
  }
  
  footer.top {
    border-bottom: 2px solid #3a4f6a;
    padding-bottom: 20px;
  }
  footer.top img{
    width: 200px;
    filter: drop-shadow(0 0 7px #d7b03e);
  }
  
footer.bottom {
    padding: 20px 0;
    justify-content: space-between;
}

div.links{
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .links > div {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  footer h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #f7f7f7;
  }
  
  .legal {
    font-size: 12px;
  }
  
  .legal > a {
    margin: 0 4px;
  }
  
  .legal > span {
    margin-right: 10px;
  }
  
  footer.bottom .links {
    display: flex;
    gap: 18px;
  }
  
  footer.bottom .links > a {
    font-size: 24px;
  }
  
  @media (width < 420px) {
    footer {
      text-align: center;
      align-items: center;
    }
  
    footer.top .links {
      grid-template-columns: 1fr;
    }
  
    footer.bottom {
      align-items: center;
    }
  
    .legal > span {
      display: block;
      margin-right: 0;
      margin-bottom: 2px;
    }
}
  